@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    min-height: 100vh;
    min-width: 100vw;
}

body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(#151515, #111111);
    font-size: 100%;
    overflow-x: hidden;
}

canvas {
    display: block;
}

h1 {
    color: #BB3333;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 15vw;
    line-height: 0.9;
}

.simulatordiv{
    background-color: #232323;
    width: 100%;
    aspect-ratio: 1;
}

.title{
    /*background-color: red;*/ 
}

.content{
    margin: 0 7vw 0 7vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 2vh;
}

.quantity {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 2vw;
    align-items: center;
}

.elementQuantity {
    background-color: #232323;
    border: 2px solid #BB3333;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 30%;
    height: 11vw;
}

.emojiQuantity{
    font-size: 7vw;
}

.input{
    background-color: transparent;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 7vw;
    width: auto;
    color: white;
}

.rangeDiv{
    width: 100%;
    margin: 2vh 0 2vh 0;
}

.range{
    align-items: center;
    width: 100%;
    border-radius: 0px;
    background: none;
}


input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}
  
input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    background: #BB3333;
    border-radius: 25px;
}
  
input[type=range]::-webkit-slider-thumb {
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: #8d2424;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.6px;
}
  
.actionButton {
    background-color: #BB3333;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    height: 10vw;
    width: 10vw;
    font-size: 4vw;
}

.actionButton:hover {
    background-color: #8d2424;
}

.buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 3vw;
    margin-top: -10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #151515;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #232323;
  }


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: none;
    padding: 10px 20px;
    z-index: 10;
    text-align: center;
}

footer a {
    color: #4b4b4b;
    text-decoration: none;
}

main {
    padding-bottom: 60px; 
}


@media (min-width: 720px) {
    h1{
        font-size: 13vw;
    }

    .content {
        margin: 5vw 9vw 5vw 9vw;
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
    }
}

@media (min-width: 1024px) {
    .content {
        margin: 0 9vw 0 9vw;
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 2vw 3vw; 
        grid-template-areas: 
          "a b"
          "a c"; 
      }

    .simulatordiv {
        justify-self: end; 
        align-self: center; 
        grid-area: a; 
      }

    .title {
        justify-self: center; 
        align-self: end; 
        grid-area: b; 
        padding-bottom: 2.5vw;
      }

    .controls {
        justify-self: center; 
        align-self: start; 
        grid-area: c; 
        width: 40vw;
        margin-top: -2.5vw;
      }

    .actionButton{
        height: 5vw;
        width: 5vw;
        font-size: 2vw;
    }

    h1 {
        font-size: 8vw;
        line-height: 0.9;
    }

    .elementQuantity {
        border: 3px solid #BB3333;
        align-items: center;
        height: 6vw;
    }
    
    .emojiQuantity{
        margin-top: -5px;
        font-size: 3vw;
    }
    
    .input{
        font-size: 3vw;
    }

    .rangeDiv{
        margin: 2vw 0 2vw 0;
    }

    .buttons{
        gap: 1vw;
    }
}
